a:link {
  color: #0300a0;
}
a:visited {
  color: #590083;
}
a:hover {
  text-decoration: underline;
}

.song,
.tab-link {
  text-align: center;
  color: white;
  /* border-bottom: 1px solid white; */
  /* padding-bottom: 3px; */
}

.song-catalogue {
  background-color: black;
}
