a:link {
  color: #73ad21 !important;
}
a:visited {
  color: #a02ad6 !important;
}
a:hover {
  text-decoration: underline;
}

.song,
.tab-link {
  text-align: center;
  color: white;
}

.song-catalogue {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  background-color: black;
  border-radius: 25px;
  border: 2px solid #73ad21;
}
